<!-- her we need that secret key, new password and confirm password to reset user password. -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
  <a class="navbar-brand" href="index.html">To-Do-List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/signup']">Signup</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
      </ul>
  </div>
</nav>


<div class="my-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-6 col-10 mx-auto box text-truncate">
        <h3 class="margin-top-10 margin-bottom-10 margin-left-10 margin-right-10"  style="color:rgba(49, 20, 119, 0.979)"  position = "center" >Reset your password</h3>
          <hr>
          <form [formGroup]="confirmPasswordForm" (ngSubmit)="onSubmit()">        
            <div class="form-group">
              <label for="secret" style="color: white" text = "bold; font-size: 13px">
                Secret Key </label>  <br>
                <input type="text" class="form-control" formControlName="secret" id="secret" >
                
             <div class="alert text"  *ngIf="!confirmPasswordForm.controls['secret'].valid && confirmPasswordForm.controls['secret'].touched">*This is required</div> 
            </div>
            <div class="form-group">
              <label for="password" style="color: whitesmoke" text = "bold; font-size: 13px">
                Password </label>  <br>
                <input type="password" class="form-control" formControlName="password" id="password" >
               
              <div class="alert text"  *ngIf="!confirmPasswordForm.controls['password'].valid && confirmPasswordForm.controls['password'].touched">Enter your new password</div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" style = "color: whitesmoke" text = "bold; font-size: 13px">
                Confirm Password  </label>  <br>
                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" >
                <span id='message'></span>
               <div class="alert text"  *ngIf="!confirmPasswordForm.controls['confirmPassword'].valid && confirmPasswordForm.controls['confirmPassword'].touched">Repeat your password</div> 
            </div>
                       

            <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!confirmPasswordForm.valid" >submit</button>
            <br><br>
          </form><br><br>
      </div>


    </div>
  </div>

</div>
<footer class="footer">
  <div class="container text-center">
      <span class="text-muted">&copy;  All Right Reserved By God</span>
  </div>
</footer>
