
<!--  this component is used for forgot-password button at login page 
      thi generate email only and redirect user to reset-password component

-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
  <a class="navbar-brand" href="index.html">To-Do-List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/signup']">Signup</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
      </ul>
  </div>
</nav>

<div class="my-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4 col-sm-6 col-10 mx-auto box text-truncate">
       <!-- <section id="section1">Welcome to ToDo App</section>

          <section id="section2" class="col-md-12 col-sm-12 text-truncate">Get your reset Token </section> -->
          <br><hr>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"> 
       
            <div class="form-group">
              <label for="email" style="color: white" text = "bold; font-size: 13px">
                Email</label>  <br>
                <input type="text" class="form-control" formControlName="email" id="email" >
            
              <div class="alert text"  *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">Enter your email address to recieve OTP</div>
            </div>
                       

            <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!resetPasswordForm.valid" >Submit</button>
            <br><br>
           
            <!--<button type="button" class="btn btn-secondary" [routerLink]="['/login']">Login instead</button>-->
          </form>
      </div>


    </div>
  </div>

</div>
<footer class="footer">
  <div class="container text-center">
      <span class="text-muted">&copy;  All Right Reserved By God</span>
  </div>
</footer>